/* GENERAL STYLES */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
}
:root {
  --hover-color: #2196f3;
  --black-text-color: #212121;
  --white-text-color: #ffffff;
  --description-color: #757575;
  --button-color: #2196f3;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --current-page-color: #2196f3;
}
/*--------- HEADER --------*/

.logo {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.last-part {
  color: var(--black-text-color);
}

.last-part-footer {
  color: var(--white-text-color);
}
.nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-item {
  padding-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-links {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--black-text-color);
  padding: 32px 0;
  display: block;
}

.current {
  color: var(--current-page-color);
}

.geolocation,
.footer-list-tel,
.footer-list,
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--hover-color);
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding: 0;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}

.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--description-color);
}

/* HERO */
.hero-box {
  background-color: var(--dark-background-color);
  padding: 200px 0;
  text-align: center;
}

.hero-studio {
  background-color: var(--dark-background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 696px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-btn {
  background-color: var(--button-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  justify-content: center;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  min-width: 216px;
  padding: 10px 32px;
  margin-top: 30px;
  border: none;
  margin: 0 auto;
}

.hero-btn:active {
  color: var(--button-color);
}

.main-list-benefits {
  display: flex;
  justify-content: center;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin: 0 215px;
  margin-top: 94px  ;
}
.benefit {
  width: 270px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--black-text-color);
  padding-bottom: 10px;
}

.benefits-text {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--description-color);
  gap: 30px;
}
/*---------- ABOUT ----------*/
.about {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--black-text-color);
  display: block
  width: 1170px;
}

.about-list {
  display: flex;
  justify-content: center;
  width: 1170px;
  height: 294px;
  margin: auto 215px;
  gap: 30px;
}

.about-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--black-text-color);
  width: 366px;
  height: 42px;
  margin: auto 617px;
  padding-bottom: 50px;
}

.team {
  background-color: var(--light-background-color);
  width: 1600px;
  height: 648px;
  display: block;
}

.about-title-team {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--black-text-color);
  width: 264px;
  height: 42px;
  margin: auto 668px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.team-list {
  display: flex;
  justify-content: center;
  width: 1170px;
  height: 368px;
  margin-left: 215px;
  gap: 15px ;
}

.teammate {
  width: 270px;
  height: 368px;
  background-color: var(--white-text-color);
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--black-text-color);
  padding-top: 30px;
}

.team-speciality {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--description-color);
  padding-top: 10px;
}

/*------- FOOTER ---------*/
.footer {
  background-color: var(--dark-background-color);
  width: 1600px;
  height: 252px;
}

.footer-list {
  font-style: normal;
  margin-left: 215px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.logo-header {
}

.logo-footer {
  margin-left: 215px;
}

.geolocation {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--white-text-color);
  padding-bottom: 9px;
}

.footer-list-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.footer-list-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}

.geolocation:hover,
.geolocation:focus,
.footer-list-mail:hover,
.footer-list-mail:focus,
.footer-list-tel:hover,
.footer-list-tel:focus {
  color: var(--hover-color);
}

/*------- PORTFOLIO ---------*/

/*------ PORTFOLIO-HERO -------*/

.hero-button {
  background-color: var(--light-background-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-text-color);
}
.hero-button:active {
  background-color: var(--button-color);
  color: var(--white-text-color);
}

.hero-buttons {
  justify-content: center;
  display: flex;
}

.hero-button {
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 4px;
  border: var(--white-text-color);
  padding: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.options-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: var(--black-text-color);
}

.options-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--description-color);
}

.options-list {
  width: 1170px;
  height: 1304px;
}

.first-line {
  justify-content: space-around;
  display: flex;
  width: 1170px;
  height: 404px;
  padding: 30px;
  padding-top: 56px;
}

.second-line {
  justify-content: space-around;
  display: flex;
  width: 1170px;
  height: 404px;
  padding: 30px;
}

.third-line {
  justify-content: space-around;
  display: flex;
  width: 1170px;
  height: 404px;
  padding: 30px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  text-decoration: none;
  // color: inherit;
}

nav {
  margin-left: 32px;
}
